# folders
Applications/
Desktop/
Development/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/

.m2/
.ipython/
.oh-my-zsh/
.pip/
.vagrant.d/
.dropbox/
.android/
.lein/

# zsh
.zsh_history
.zsh-update
*.zcompdump*
.bash_history
.bash_profile
.zlogin

# osx
.DS_Store
.Trash/

# psql
.psql_history*

# htop
.htoprc

.CFUserTextEncoding
.ssh/*
.viminfo
.subversion
.rvm/
.pypirc
.profile
.npm/
.netrc
.mysql_history
.mongorc.js
.meteor/
.meteorite/
.gem/
.cups/
.dotcloud_cli/
.heroku/
.bashrc
.cocoapods/
.dropbox-master/